.header {
  margin-right: 2%;
  display: flex;
  gap: 20px;
  justify-content: right;
  position: fixed;
  top: 20;
  right: 0;
  z-index: 1000;
}
header a {
  background: #ea9ca2;
  border-radius: 15%;
  transition: filter 0.2s;
  border-radius: 10px;
  border: 0;
  padding: 0.8rem 1.5rem;
  font-size: 1.5rem;
}
header a[href="#acheter"] {
  background-color: #eec53ebe;
  &:active,
  &:hover {
    background-color: #e9c03c;
  }
}
header a {
  position: relative;
  font: inherit;
  background-color: rgba(245, 245, 245, 0.628);
  border: 0;
  color: #373737;
  border-radius: 0.9em;
  font-size: 3rem;
  padding: 0.25em 1em;
  font-weight: 600;

  transition: 0.25s ease;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  &:active,
  &:hover {
    transform: translateY(0.225em);
    box-shadow: inset 0 0.03em 0 0 #ffaab1, 0 0.03em 0 0 #ffaab1;
    background-color: rgba(245, 245, 245, 0.857);
    color: #121212;
    &:after {
      height: calc(100% + 0.225em);
    }
  }

  &:after {
    position: absolute;
    display: block;
    width: 100%;
    height: calc(100% + 0.375em);
    top: 0;
    left: 0;
    background-color: transparent;
    transition: height 0.25s ease;
  }
}
