.slider-mask {
  overflow: hidden;
  height: 100vh;
}

.slider-container {
  display: inline-flex;
  height: 100%;
  gap: 10px;
  width: 150%;
  position: relative;
  display: flex;
  background: #ea989d;
}
.slider-container .montagne-paysage img {
  margin-top: 2%;
  width: 110%;
  height: 50%;
  margin-left: 16%;
  flex-shrink: 0;
  display: block;
  position: relative;
  z-index: -2;
  scale: 1.3;
  inset: 0;
}
.slider-container .parapaysage img {
  margin-top: 13%;
  width: 100%;
  height: 67%;
  object-fit: cover;
  flex-shrink: 0;
  display: block;
  position: absolute;
  z-index: 2;
}
.slider-container .foret-paysage img {
  margin-top: 8%;
  width: 100%;
  height: 50%;
  object-fit: cover;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}
.slider-item {
  position: absolute;
  z-index: 3;
  opacity: 1;
}
.slider-item#item-1 img {
  margin-top: 40%;
  margin-left: 10%;
  max-width: 40%;
  flex-shrink: 0;
}
.slider-item#item-2 img {
  max-width: 85%;
  margin-top: 75%;
  margin-left: 15%;
  flex-shrink: 0;
}
.slider-item#item-3 img {
  max-width: 45%;
  margin-top: 50%;
  margin-left: 85%;
  flex-shrink: 0;
}
.slider-item#item-4 img {
  max-width: 45%;
  margin-top: 50%;
  margin-left: 60%;
  flex-shrink: 0;
}
.slider-item#item-5 img {
  max-width: 27%;
  margin-top: 57%;
  margin-left: 95%;
  flex-shrink: 0;
}
.slider-item#item-6 img {
  max-width: 70%;
  margin-top: 35%;
  margin-left: 240%;
  flex-shrink: 0;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
