#title2 {
  font-family: "Helvetica Neue", sans-serif;
  margin-top: 20px;
  font-size: large;
}

.header a {
  font-family: "Helvetica Neue", sans-serif;
  font-size: x-large;
  text-decoration: none;
  text-decoration-line: none;
}
#footer-title2 {
  color: white;
  font-family: "Helvetica Neue", sans-serif;
  margin-top: 20px;
  font-size: large;
}

.footer-text,
.footer-list {
  color: white;
  font-family: "Helvetica Neue", sans-serif;
}
