.container {
  min-height: 450vh;
  margin-top: 10%;
  position: relative;
}
.background {
  background-image: url(../img/ciel-1.webp);
  background-repeat: repeat-y;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
#title2 {
  font-family: "Helvetica Neue", sans-serif;
  margin-top: 20px;
  font-size: large;
}
.container-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30%;
  padding-bottom: 5%;
  flex-direction: column;
}
.object-title {
  border: 5px solid rgb(108, 202, 71);
  width: 10%;
  height: 80px;
  opacity: 1;
  border-radius: 10px;
}
.spacer {
  height: 100vh;
  margin-block: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: repeating-linear-gradient(
    45deg,
    #606dbc33,
    #606dbc33 10px,
    #606dbc00 10px,
    #606dbc00 20px
  );
}

.object-wrapper {
  display: flex;
  margin: 100px 0;
}

.object {
  border: 5px solid blue;
  width: 30%;
  height: 200px;
  opacity: 1;
  border-radius: 10px;
}
#title img {
  max-width: 100%;
}
#oiseau-1 img {
  max-width: 140%;
  margin-left: -300px;
}

#oiseau-2 img {
  max-width: 100%;
  margin-top: 10%;
}
#oiseau-3 img {
  max-width: 500%;
  margin-left: -250%;
  margin-top: 2%;
}

#oiseau-4 img {
  max-width: 100%;
}

#oiseau-1 {
  position: absolute;
  z-index: 3;
}

#oiseau-2 {
  position: absolute;
  z-index: 2;
}
#oiseau-3 {
  position: absolute;
  z-index: 4;
}

#oiseau-4 {
  position: absolute;
  z-index: 1;
  margin-top: 85%;
}

.slider-mask {
  overflow: hidden;
  height: 100vh;
}

.slider-container {
  display: inline-flex;
  height: 100%;
  gap: 10px;
  border: 5px solid red;
  width: 150%;
  position: relative;
  display: flex;
}

.slider-container .montagne-paysage img {
  margin-top: 2%;
  width: 110%;
  height: 50%;
  margin-left: 16%;
  flex-shrink: 0;
  display: block;
  position: relative;
  z-index: -2;
  scale: 1.3;
  inset: 0;
}
.slider-container .parapaysage img {
  margin-top: 13%;
  width: 100%;
  height: 67%;
  object-fit: cover;
  flex-shrink: 0;
  display: block;
  position: absolute;
  z-index: 2;
}
.slider-container .foret-paysage img {
  margin-top: 8%;
  width: 100%;
  height: 50%;
  object-fit: cover;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}
.slider-item {
  position: absolute;
  z-index: 3;
  opacity: 1;
}
.slider-item#item-1 {
  left: 500px;
  width: 150px;
  height: 150px;
  background: red;
  top: 30%;
  left: 6%;
}
.slider-item#item-2 {
  left: 500px;
  width: 300px;
  height: 300px;
  background: red;
  top: 55%;
  left: 14%;
}
.slider-item#item-3 {
  left: 500px;
  width: 200px;
  height: 200px;
  background: red;
  top: 35%;
  left: 24%;
}
.slider-item#item-4 {
  left: 500px;
  width: 350px;
  height: 200px;
  background: red;
  top: 65%;
  left: 40%;
}
.slider-item#item-5 {
  left: 500px;
  width: 150px;
  height: 150px;
  background: red;
  top: 70%;
  left: 56%;
}
.slider-item#item-6 {
  left: 500px;
  width: 350px;
  height: 350px;
  background: red;
  top: 50%;
  left: 70%;
}
