.container {
  min-height: 300vh;
  margin-top: 10%;
  position: relative;
}
.l-background {
  background-image: url(../img/ciel-1.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
  position: relative;
}
.container-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30%;
  padding-bottom: 5%;
  flex-direction: column;
}
.object-title {
  border: 5px ridge rgb(108, 202, 71);
  width: 10%;
  height: 80px;
  opacity: 1;
  border-radius: 10px;
}

.object-wrapper {
  display: flex;
  margin: 100px 0;
}

.object {
  border-color: aqua;
  border-style: ridge;
  width: 30%;
  height: 200px;
  opacity: 1;
  border-radius: 10px;
}
#title img {
  max-width: 100%;
}
#oiseau-1 img {
  max-width: 140%;
  margin-left: -300px;
}

#oiseau-2 img {
  max-width: 100%;
  margin-top: 10%;
}
#oiseau-3 img {
  max-width: 500%;
  margin-left: -250%;
  margin-top: 2%;
}

#oiseau-4 img {
  max-width: 100%;
}

#oiseau-1 {
  position: absolute;
  z-index: 3;
}

#oiseau-2 {
  position: absolute;
  z-index: 2;
}
#oiseau-3 {
  position: absolute;
  z-index: 4;
}

#oiseau-4 {
  position: absolute;
  z-index: 1;
  margin-top: 80%;
}
